version: '3'

services:
  gendox-database:
    build:
      context: ./database
      dockerfile: Dockerfile
    image: gendox-database:latest
    container_name: gendox-database
    volumes:
      - postgres-data:/var/lib/postgresql
    environment:
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_USER: ${DATABASE_USERNAME}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
    networks:
      - gendox_network
    expose:
      - "5432"
    ports:
      - "${DATABASE_PORT}:5432"
    healthcheck:
      test: psql -h localhost -p 5432 -U $DATABASE_USERNAME -d $DATABASE_NAME -t -c "SELECT * from gendox_core.flyway_schema_history" | grep . || exit 1
      interval: 10s
      timeout: 30s
      retries: 30
      start_period: 15s
    restart: unless-stopped

  gendox-core-api:
    build:
      context: ./gendox-core-api
      dockerfile: Dockerfile
      args:
        - PROVEN_AI_GIT_REPOSITORY=${PROVEN_AI_GIT_REPOSITORY}
        - PROVEN_AI_GIT_BRANCH=${PROVEN_AI_GIT_BRANCH}
    image: gendox-core-api:latest
    container_name: gendox-core-api
    volumes:
      - ~/.aws/:/root/.aws:ro
    depends_on:
      gendox-database:
        condition: service_healthy
    environment: # Gendox environment variables
      - JAVA_TOOL_OPTIONS=-Xms512m -Xmx1536m
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_USERNAME=${DATABASE_USERNAME}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
      - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
      - KEYCLOAK_CLIENT_ID=${KEYCLOAK_CLIENT_ID}
      - KEYCLOAK_CLIENT_SECRET=${KEYCLOAK_CLIENT_SECRET}
      - DISCORD_TOKEN=${DISCORD_TOKEN}
      - OPENAI_KEY=${OPENAI_KEY}
      - COHERE_KEY=${COHERE_KEY}
      - RSA_KEY_PATH=${RSA_KEY_PATH}
      - GROQ_KEY=${GROQ_KEY}
      - ANTHROPIC_KEY=${ANTHROPIC_KEY}
      - GEMINI_KEY=${GEMINI_KEY}
      - MISTRAL_KEY=${MISTRAL_KEY}
      - VOYAGE_KEY=${VOYAGE_KEY}
      - GCLOUD_CLIENT_SECRET=${GCLOUD_CLIENT_SECRET}
      - GENDOX_SPRING_EMAIL_HOST=${GENDOX_SPRING_EMAIL_HOST}
      - GENDOX_SPRING_EMAIL_PORT=${GENDOX_SPRING_EMAIL_PORT}
      - GENDOX_SPRING_EMAIL_USERNAME=${GENDOX_SPRING_EMAIL_USERNAME}
      - GENDOX_SPRING_EMAIL_PASSWORD=${GENDOX_SPRING_EMAIL_PASSWORD}
      - PROVEN_AI_ENABLED=${PROVEN_AI_ENABLED}
      - AWS_ACCESS_KEY=${AWS_ACCESS_KEY}
      - AWS_SECRET_ACCESS_KEY=${AWS_SECRET_ACCESS_KEY}
      - FILE_STORAGE_PATH=${FILE_STORAGE_PATH}
    networks:
      - gendox_network
    ports:
      - "${APIS_PORT}:8080"
    restart: unless-stopped

  gendox-keycloak:
    build:
      context: ./gendox-keycloak
      dockerfile: Dockerfile
    image: gendox-keycloak:latest
    container_name: gendox-keycloak
    healthcheck:
      test: [ "CMD-SHELL", "echo > /dev/tcp/localhost/8443 || exit 1" ]
      interval: 10s
      timeout: 5s
      retries: 30
      start_period: 20s
    depends_on:
      gendox-database:
        condition: service_healthy
    environment:
      - KEYCLOAK_ADMIN=${KEYCLOAK_ADMIN}
      - KEYCLOAK_ADMIN_PASSWORD=${KEYCLOAK_ADMIN_PASSWORD}
      - KC_DB=postgres
      - KC_DB_URL=${KC_DB_URL}
      - KC_DB_USERNAME=${KC_DB_USERNAME}
      - KC_DB_PASSWORD=${KC_DB_PASSWORD}
      - KEYSTORE_PASSWORD=${KEYSTORE_PASSWORD}
      - KEYSTORE_FILE=/opt/keycloak/conf/server.keystore
      - KC_CACHE=local
    entrypoint: [ ]
    command:
      - /bin/bash
      - -c
      - |
        if [ -f "$$KEYSTORE_FILE" ] && { [ ! -s "$$KEYSTORE_FILE" ] || ! keytool -list -keystore "$$KEYSTORE_FILE" -storepass "${KEYSTORE_PASSWORD}" > /dev/null 2>&1; }; then
          echo "Keystore is empty or invalid. Deleting it."
          rm -f "$$KEYSTORE_FILE"
        fi
        if [ ! -f "$$KEYSTORE_FILE" ]; then
          echo "Generating new keystore and key pair.."
          keytool -genkeypair \
            -storepass "${KEYSTORE_PASSWORD}" \
            -storetype PKCS12 \
            -keyalg RSA \
            -keysize 2048 \
            -dname "CN=localhost" \
            -alias server \
            -validity 365 \
            -ext "SAN=DNS:localhost,IP:127.0.0.1,DNS:gendox-keycloak" \
            -keystore "$$KEYSTORE_FILE" \
            -noprompt
        else
          echo "Using existing valid keystore."
        fi
        echo "Starting Keycloak..."
        exec /opt/keycloak/bin/kc.sh start \
          --http-relative-path="${KEYCLOAK_HTTP_RELATIVE_PATH}" \
          --features="token-exchange,organization" \
          --hostname-strict=false \
          --https-key-store-file="$$KEYSTORE_FILE" \
          --https-key-store-password "${KEYSTORE_PASSWORD}" \
          --spi-theme-static-max-age=600 \
          --spi-theme-cache-themes=true \
          --spi-theme-cache-templates=true
    networks:
      - gendox_network
    ports:
      - "${KEYCLOAK_PORT}:8443"
    volumes:
      - keycloak-data:/opt/keycloak/conf
    restart: unless-stopped


  gendox-frontend:
    build:
      context: ./gendox-frontend
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_OIDC_AUTHORITY: ${NEXT_PUBLIC_GENDOX_OIDC_AUTHORITY}
        NEXT_PUBLIC_OIDC_CLIENT_ID: ${NEXT_PUBLIC_GENDOX_OIDC_CLIENT_ID}
        NEXT_PUBLIC_OIDC_REDIRECT_URI: ${NEXT_PUBLIC_GENDOX_OIDC_REDIRECT_URI}
        NEXT_PUBLIC_OIDC_POST_LOGOUT_REDIRECT_URI: ${NEXT_PUBLIC_GENDOX_OIDC_POST_LOGOUT_REDIRECT_URI}
        NEXT_PUBLIC_OIDC_SILENT_REDIRECT_URI: ${NEXT_PUBLIC_GENDOX_OIDC_SILENT_REDIRECT_URI}
        NEXT_PUBLIC_GENDOX_URL: ${NEXT_PUBLIC_GENDOX_BACKEND_URL}
        NEXT_PUBLIC_PROVEN_AI_URL: ${NEXT_PUBLIC_PROVEN_AI_FRONTEND_URL}
    image: gendox-frontend:latest
    container_name: gendox-frontend
    environment:
      NEXT_PUBLIC_OIDC_AUTHORITY: ${NEXT_PUBLIC_GENDOX_OIDC_AUTHORITY}
      NEXT_PUBLIC_OIDC_CLIENT_ID: ${NEXT_PUBLIC_GENDOX_OIDC_CLIENT_ID}
      NEXT_PUBLIC_OIDC_REDIRECT_URI: ${NEXT_PUBLIC_GENDOX_OIDC_REDIRECT_URI}
      NEXT_PUBLIC_OIDC_POST_LOGOUT_REDIRECT_URI: ${NEXT_PUBLIC_GENDOX_OIDC_POST_LOGOUT_REDIRECT_URI}
      NEXT_PUBLIC_OIDC_SILENT_REDIRECT_URI: ${NEXT_PUBLIC_GENDOX_OIDC_SILENT_REDIRECT_URI}
      NEXT_PUBLIC_GENDOX_URL: ${NEXT_PUBLIC_GENDOX_BACKEND_URL}
      NEXT_PUBLIC_PROVEN_AI_URL: ${NEXT_PUBLIC_PROVEN_AI_FRONTEND_URL}
    ports:
      - "${GENDOX_FRONTEND_PORT}:80"
    networks:
      - gendox_network

networks:
  gendox_network:

volumes:
  postgres-data:
  keycloak-data:
