<!-- invitationToOrganization.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="emails/head :: head"/>
<body>
<div class="bodyClass">
<div class="container">
    <th:block th:replace="emails/header :: header"/>
    <div class="subtitle">
        <span th:text="${subtitle}">[Subtitle]</span>
    </div>
    <div class="bodyContent">
        You have been invited to the Organization '<strong><span th:text="${organizationName}">[OrganizationName]</span></strong>'
        by <span th:text="${InviterEmail}">[InviterEmail]</span>.

        <br><br>

        Click the link below to accept the invitation:<br>
        <a th:href="${invitationLink}" class="button-link">Accept Invitation</a>

        <br><br>

        Invitation expires on <strong><span th:text="${expirationDate}">[ExpirationDate]</span></strong>.

    </div>
    <th:block th:replace="emails/footer :: footer"/>
</div>
</div>
</body>
</html>
