# Ignore all .DS_Store files across the project
**/.DS_Store

# Node.js modules
node_modules/

# Logs
*.log
*.gz

# Keycloak temporary and state files
tmp/
data/
work/

# Keycloak configuration files (customize as needed)
standalone.xml
standalone-ha.xml
keycloak-server.log

# Local environment files
.env

# IDE-specific files
.idea/
.vscode/
*.iml

# Maven/Gradle build artifacts (if applicable)
target/
build/
out/


