

server:
  port: 8080
  servlet:
    context-path: /gendox/api/v1
logging:
  level:
    dev.ctrlspace: DEBUG
    org.springframework: INFO
spring:
  threads:
    virtual:
      enabled: true
  mail:
    host: ${GENDOX_SPRING_EMAIL_HOST:no-env-variable}
    port: ${GENDOX_SPRING_EMAIL_PORT:0}
    username: ${GENDOX_SPRING_EMAIL_USERNAME:no-env-variable}
    password: ${GENDOX_SPRING_EMAIL_PASSWORD:no-env-variable}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true

  cache:
    type: caffeine
    caffeine:
      spec: expireAfterWrite=5m,maximumSize=1000
  mvc:
    format:
      date-time: yyyy-MM-dd'T'HH:mm:ss.SSSZ
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: none
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    hikari:
      maximum-pool-size: 100
      minimum-idle: 10

  jackson:
    serialization:
      write-dates-as-timestamps: false
  servlet:
    multipart:
      enabled: true
      max-file-size: 150MB
      max-request-size: 150MB
  application:
    name: gendox-core-api



  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://auth.gendox.dev/idp/realms/gendox-idp-prod
          jwk-set-uri: https://auth.gendox.dev/idp/realms/gendox-idp-prod/protocol/openid-connect/certs



keycloak:
  base-url: https://auth.gendox.dev/idp
  token-uri: https://auth.gendox.dev/idp/realms/gendox-idp-prod/protocol/openid-connect/token
  realm: gendox-idp-prod
  client-id: ${KEYCLOAK_CLIENT_ID}
  client-secret: ${KEYCLOAK_CLIENT_SECRET}

management:
  tracing:
    sampling:
      probability: 1.0

  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  observations:
    key-values:
      application: gendox-core-api

springdoc:
  swagger-ui:
    path: /api-documentation

rsa:
  #private-key: classpath:.env/local/local-non-production-use-private_key.pem
  private-key: ${RSA_KEY_PATH}


gendox:
  domains:
    frontend: https://dev.gendox.ctrlspace.dev

  emails:
    contact-email: contact@ctrlspace.dev
  documents:
#    upload-dir: s3://gendox.organization.documents.dev
    upload-dir: file:${user.home}/gendox/documents
#    Word count per document section, used in static word count Splitter
    wordCount: 500
#    Token count per document section, used in Page or Markdown Splitters
    tokenCount: 768
    # this adds new line before and after the separator
    page-separator-template: |
      
      {%s}------------------------------------------------
    allowed:
      extensions: .txt,.md,.rst,.pdf

  integrations:
    #    poller: 30000 # 30 seconds
    poller: 1800000 # 30 minutes in milliseconds
    storage:
      temporary: /var/tmp
    s3:
      sqs:
        wait-time-seconds: 1 #not in use
        visibility-timeout-seconds: 300
        batch-size: 10
  maintenance:
    daily-usage-aggregator:
      fixed-delay: 10s
      batch-size: 50000
  models:
    #    It is important these fields to have the same names as the DB ai_model_provider.api_type_id.name
    open_ai:
      key: ${OPENAI_KEY}
    cohere:
      key: ${COHERE_KEY}
    groq:
      key: ${GROQ_KEY:default-token}
    gemini:
      key: ${GEMINI_KEY:default-token}
    anthropic_ai:
      key: ${ANTHROPIC_KEY:default-token}
    voyage_ai:
      key: ${VOYAGE_KEY:default-token}
    mistral_ai:
      key: ${MISTRAL_KEY:default-token}
  domain:
    base-url: http://localhost:${server.port}
    document-sections:
      get-document-sections: /documents/sections
    sections: https://domain.com/context-path/documents/sections/
    messages:
      completion:
        post-completion-message: /messages/completions
      search:
        post-search-message: /messages/search
  pages:
    default: "&page=0&size=5"
  agents:
    splitter-type: "STATIC_WORD_COUNT_SPLITTER"
    max_token: 500
    temperature: 0.8
    top_p: 0.4
    max_search_limit: 5
    max_completion_limit: 5

  moderation:
    message: "Sorry, I can't reply in this message, it contains inappropriate content. If this this not the case, please contact the support team."

  batch-jobs:
    default-start-days: 365
    document-training:
      job:
        name: documentTrainingJob
        thread-pool-size: 50
        steps:
          document-training-step:
            name: documentTrainingStep
            chunk-size: 128
            pageable-size: 1000
    document-splitter:
      job:
        name: documentSplitterJob
        thread-pool-size: 50
        steps:
          document-splitter-step:
            name: documentSplitterStep
            chunk-size: 10
            pageable-size: 1000
    document-insights:
      job:
        name: documentInsightsJob
        thread-pool-size: 10
        steps:
          document-insights-step:
            name: documentInsightsStep
            chunk-size: 2
            pageable-size: 1000
    document-digitization:
      job:
        name: documentDigitizationJob
        thread-pool-size: 2     # Process books 2-by-2, each book runs in parallel multiple pages
        llm-completion-executor-pool-size: 10     # Run 10 LLM completions in parallel for 10 pages
        steps:
          document-digitization-step:
            name: documentDigitizationStep
            chunk-size: 1
            doc-page-chunk-size: 20  # Process docs at batches of 20 pages
            pageable-size: 1000
  user-invitation:
    accept-url-template: /accept-invitation/?email=%s&token=%s
    ttl: 86400  # in seconds
  features:
    subscription-validation: true

# AWS

cloud:
  aws:
    s3:
      region: eu-central-1
    SQS:
      region: eu-central-1
  gcloud:
    client-secret: ${GCLOUD_CLIENT_SECRET:} # env variable or empty string



# Discord

discord:
  bots:
    gendox-bot:
      token: ${DISCORD_TOKEN:default-token}
  server:
    group-name: gendox-agents


proven-ai:
  enabled: ${PROVEN_AI_ENABLED:false}
  sdk:
    iscc:
      enabled: ${PROVEN_AI_SDK_ISCC_ENABLED:false}
  base-url: https://dev.proven-ai.ctrlspace.dev
  context-path: /proven-ai/api/v1
  apis:
    agent-authentication:
      endpoint: /agents/token
      scope: openid email
      grant_type: vp_token
    search:
      endpoint: /search

# Walt.id

walt-id:
  default-key:
    type: ECDSA_SECP256K1
    size: 2048

#ISCC Code
iscc:
  apis:
    code-generation: https://proven-ai-dev.ctrlspace.dev/api/v1/iscc