

server:
  port: 5000
  servlet:
    context-path: /gendox/api/v1
logging:
  level:
    dev.ctrlspace: INFO
    org.springframework: INFO
Spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DATABASE_USERNAME}
    password: ${DATABASE_PASSWORD}
    hikari:
      maximum-pool-size: 90
      minimum-idle: 10
      maxLifetime: 300000       # 5 minutes
      idleTimeout: 120000       # 2 minutes
      connectionTimeout: 30000  # 30 seconds
  flyway:
    enabled: false



gendox:
  domains:
    frontend: https://gendox.ctrlspace.dev

  domain:
    base-url: http://localhost:5000

proven-ai:
  base-url: https://proven-ai.ctrlspace.dev


#ISCC Code
iscc:
  apis:
    code-generation: https://proven-ai-dev.ctrlspace.dev/api/v1/iscc