

server:
  port: 8080
  servlet:
    context-path: /gendox/api/v1
logging:
  level:
    dev.ctrlspace: DEBUG
    org.springframework.security: DEBUG
    org.springframework: INFO
#    This is how to change the micrometer tracing pattern, we'll use the default now
#  pattern:
#    correlation : "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"


spring:
  flyway:
    enabled: false
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://localhost:5433/postgres}
    username: ${DATABASE_USERNAME:gendox_user}
    password: ${DATABASE_PASSWORD:root}

    hikari:
      maximum-pool-size: 5
      minimum-idle: 3
      maxLifetime: 300000       # 5 minutes
      idleTimeout: 120000       # 2 minutes
      connectionTimeout: 30000  # 30 seconds
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: http://localhost:8880/idp/realms/gendox-idp-prod
          jwk-set-uri: http://localhost:8880/idp/realms/gendox-idp-prod/protocol/openid-connect/certs

keycloak:
  base-url: http://localhost:8880/idp
  token-uri: http://localhost:8880/idp/realms/gendox-idp-prod/protocol/openid-connect/token
  realm: gendox-idp-prod
  client-id: ${KEYCLOAK_CLIENT_ID}
  client-secret: ${KEYCLOAK_CLIENT_SECRET}

rsa:
  private-key: ${RSA_KEY_PATH:classpath:.env/local/local-non-production-use-private_key.pem}

gendox:
  domains:
    frontend: http://localhost:3000
  documents:
    wordCount: 500

  integrations:
#    poller: 30000 # 30 seconds
#    poller: 300000
    poller: 86400000 # 24 hours in milliseconds
    storage:
      temporary: file:${user.home}/gendox/temporary_integration_files
    s3:
      sqs:
        wait-time-seconds: 1 #not in use
        visibility-timeout-seconds: 300

  maintenance:
    daily-usage-aggregator:
      fixed-delay: 86400s # 24 hours
  domain:
    base-url: http://localhost:8080




proven-ai:
#  base-url: https://dev.provenai.ctrlspace.dev
  base-url: http://host.docker.internal:8082


#ISCC Code
iscc:
  apis:
#    code-generation: http://host.docker.internal:8970/api/v1/iscc
    code-generation: http://host.docker.internal:8970