

server:
  port: 8080
  servlet:
    context-path: /gendox/api/v1
logging:
  level:
    dev.ctrlspace: DEBUG
    org.springframework.security: DEBUG
    org.springframework: INFO
#    This is how to change the micrometer tracing pattern, we'll use the default now
#  pattern:
#    correlation : "%5p [${spring.application.name:},%X{traceId:-},%X{spanId:-}]"


spring:
  datasource:
    url: ${DATABASE_URL:jdbc:postgresql://gendox-database:5433/postgres}
    username: ${DATABASE_USERNAME:gendox_user}
    password: ${DATABASE_PASSWORD:root}
    hikari:
      maximum-pool-size: 100
      minimum-idle: 10
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://gendox-keycloak:8443/idp/realms/gendox-idp-prod
          jwk-set-uri: https://gendox-keycloak:8443/idp/realms/gendox-idp-prod/protocol/openid-connect/certs


keycloak:
  base-url: https://gendox-keycloak:8443/idp
  token-uri: https://gendox-keycloak:8443/idp/realms/gendox-idp-prod/protocol/openid-connect/token
  realm: gendox-idp-prod
  client-id: ${KEYCLOAK_CLIENT_ID}
  client-secret: ${KEYCLOAK_CLIENT_SECRET}

gendox:
  domains:
    frontend: http://localhost:3000
  documents:
    upload-dir: file://${user.home}/gendox.organization.documents.local

  domain:
    base-url: http://localhost:8080

proven-ai:
  base-url: http://host.docker.internal:8082

#ISCC Code
iscc:
  apis:
    #    code-generation: http://host.docker.internal:8970/api/v1/iscc
    code-generation: http://host.docker.internal:8970